<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/util.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--===============================================================================================-->
</head>
<body>

<body>
 

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="" method="post">
				<span class="contact100-form-title">
					Welcome to Freeman Scavenger Hunt!
				</span>	
				
				{% if username %}

				<p ><strong> Hello {{username}}.  </strong></p>
				<p><strong>Questions answered: {{ans_count}} </strong></p>
				<p><strong>Scan the QR code with your camera. </strong></p>
				<!-- <p><a href="{{ url_for('hint') }}">Hint</a> </p> -->
		<p> </p>

		<!-- 
		<div class="container-contact100-form-btn">
			<div class="wrap-contact100-form-btn">
				<div class="contact100-form-bgbtn"></div>
				<p  style="text-align: center;font-size: 20px; color: white;padding-top: 15px;">	<span>	
	  				Scan the QR code to continue
	 				<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> 
				</span> </p>
			
			</div>
		</div>

		-->
	

        <div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
            <a href="{{ url_for('hint') }}">
						<div class="contact100-form-bgbtn"></div>
            <p  style="text-align: center;font-size: 20px; color: white;padding-top: 15px;">	<span>	
              Hint
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span> </p>
						</a>
					</div>
        </div>
    
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
            <a href="{{ url_for('logout') }}">
						<div class="contact100-form-bgbtn"></div>
            <p  style="text-align: center;font-size: 20px; color: white;padding-top: 15px;">	<span>	
            Log Out					
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span> </p>
						</a>
					</div>
				</div>	
				{% else %}			
				<p  style="text-align: center;"><strong> You are not logged in.  </strong></p>
				<div class="container-contact100-form-btn">
           
            <div class="wrap-contact100-form-btn">
           
              <a href="{{ url_for('login') }}">
                <div class="contact100-form-bgbtn"></div>
                <p  style="text-align: center;font-size: 20px; color: white;padding-top: 15px;">	<span>	
                  Sign In					
                  <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span> </p>
             
              
            </a>	
              
            </div>
						
				</div>
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
           
            <a href="{{ url_for('signup') }}">
              <div class="contact100-form-bgbtn"></div>
              <p  style="text-align: center;font-size: 20px; color: white; padding-top: 15px;">	<span>	
                Sign Up					
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span> </p>
           
						
          </a>	
						
					</div>
        </div>
        {% endif %}
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>