{% extends 'base.html' %} 
{{num}}
{% block title %}Puzzle {{num}} {% endblock %}

{% block content %}
{% if num == 'SQRF' %}
<p style="font-size:24px;">Who did Forbes name the youngest “self-made billionaire ever” in 2019?
</p>
<form action="" method="post">
    <div class="wrap-input100 validate-input">
  <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
    request.form.answer }}">
  <span class="focus-input100"></span>
</div>
  <div class="container-contact100-form-btn">
    <div class="wrap-contact100-form-btn">
      <div class="contact100-form-bgbtn"></div>
  
      <button class="contact100-form-btn">
        <span>
        Let's Go
          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
        </span>
      </button>
      
    </div>
  </div>
  </form> 
  {% elif num == 'CBRF' %}
  <p style="font-size:24px;">Which hard seltzer did America face a shortage of in 2019?   
  </p>
  <form action="" method="post">
      <div class="wrap-input100 validate-input">
    <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
      request.form.answer }}">
    <span class="focus-input100"></span>
  </div>
    <div class="container-contact100-form-btn">
      <div class="wrap-contact100-form-btn">
        <div class="contact100-form-bgbtn"></div>
    
        <button class="contact100-form-btn">
          <span>
          Let's Go
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
        
      </div>
    </div>
    </form> 

    {% elif num == 'PLRF' %}
    <p style="font-size:24px;">Which artist made history in 2020 as the youngest winner of the Grammys’ four main categories?
    </p>
    <form action="" method="post">
        <div class="wrap-input100 validate-input">
      <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
        request.form.answer }}">
      <span class="focus-input100"></span>
    </div>
      <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
          <div class="contact100-form-bgbtn"></div>
      
          <button class="contact100-form-btn">
            <span>
            Let's Go
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
          
        </div>
      </div>
      </form> 
      {% elif num == 'BXRF' %}
      <p style="font-size:24px;">Elon Musk and Grimes recently brought a baby boy into the world, but what is his name? (Copy it from google, you can't type that lol)
      </p>
      <form action="" method="post">
          <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
          request.form.answer }}">
        <span class="focus-input100"></span>
      </div>
        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
        
            <button class="contact100-form-btn">
              <span>
              Let's Go
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
            
          </div>
        </div>
        </form> 
        {% elif num == 'CSRF' %}
        <p style="font-size:24px;">Name the columbian performer who headlined the 2020 Superbowl halftime show.</p>
        <form action="" method="post">
            <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
            request.form.answer }}">
          <span class="focus-input100"></span>
        </div>
          <div class="container-contact100-form-btn">
            <div class="wrap-contact100-form-btn">
              <div class="contact100-form-bgbtn"></div>
          
              <button class="contact100-form-btn">
                <span>
                Let's Go
                  <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
              </button>
              
            </div>
          </div>
          </form> 

          {% elif num == 'TBRF' %}
          <p style="font-size:24px;">A tennis ball has rolled its way down into a hole. This particular hole is extremely deep and has a sharp bend in the middle, making the ball impossible to retrieve by hand. To make matters worse, the ground around the hole is made of hard clay, so digging the ball out isn't an option.

            However, you have something incredibly commonplace on hand that you can use to get the ball out. What do you use to get the ball out? Answer in five letters. 
            
          </p>
          <img src="{{url_for('static', filename='images/img_6_q.png')}}" align="middle" class="center"/>
          <form action="" method="post">
              <div class="wrap-input100 validate-input">
            <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
              request.form.answer }}">
            <span class="focus-input100"></span>
          </div>
            <div class="container-contact100-form-btn">
              <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
            
                <button class="contact100-form-btn">
                  <span>
                  Let's Go
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                  </span>
                </button>
                
              </div>
            </div>
            </form> 

            {% elif num == 'TFRF' %}
            <p style="font-size:24px;"> How many super bowls has tom brady won?
            </p>
            <form action="" method="post">
                <div class="wrap-input100 validate-input">
              <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
                request.form.answer }}">
              <span class="focus-input100"></span>
            </div>
              <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                  <div class="contact100-form-bgbtn"></div>
              
                  <button class="contact100-form-btn">
                    <span>
                    Let's Go
                      <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                  </button>
                  
                </div>
              </div>
              </form> 

              {% elif num == 'CLRF' %}
              <p style="font-size:24px;">Which Marvel superhero was the first to make it to the big screen? (Don't forget the space)
              </p>
              <!-- <img src="{{url_for('static', filename='images/img_8_q.png')}}" align="middle" /> -->
              <form action="" method="post">
                  <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
                  request.form.answer }}">
                <span class="focus-input100"></span>
              </div>
                <div class="container-contact100-form-btn">
                  <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                
                    <button class="contact100-form-btn">
                      <span>
                      Let's Go
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                      </span>
                    </button>
                    
                  </div>
                </div>
                </form> 
                {% elif num == 'GMRF' %}
                <p style="font-size:24px;">Which actor won an Oscar for his performance in Bohemian Rhapsody?
                </p>
                <form action="" method="post">
                    <div class="wrap-input100 validate-input">
                  <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
                    request.form.answer }}">
                  <span class="focus-input100"></span>
                </div>
                  <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                      <div class="contact100-form-bgbtn"></div>
                  
                      <button class="contact100-form-btn">
                        <span>
                        Let's Go
                          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                      </button>
                      
                    </div>
                  </div>
                  </form> 

                  {% elif num == 'GGRF' %}
                  <p style="font-size:24px;">Three veteran detectives, A, B, and C, are standing by a first-floor window. Looking at the garden below, they say:

                    A: "That's my daughter and grandchild."
                    B: "That's my daughter and grandchild."
                    C: "That's my daughter and grandchild."
                    
                    Being hard-boiled detectives, they're all very serious about this. None of them is lying. What is the minimum number of people who need to be in the garden?
                    
                  <!-- <img src="{{url_for('static', filename='images/img_10_q.png')}}" align="middle" /> -->
                  <form action="" method="post">
                      <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="answer" placeholder="Enter Answer" value="{{
                      request.form.answer }}">
                    <span class="focus-input100"></span>
                  </div>
                    <div class="container-contact100-form-btn">
                      <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                    
                        <button class="contact100-form-btn">
                          <span>
                          Let's Go
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                          </span>
                        </button>
                        
                      </div>
                    </div>
                    </form> 
    {% else %}
  <p> You're lost</p>
{% endif %}
{% endblock %}

